html, body {
  background-color: #f2f2df;
  margin:0;
  padding:0;
  font-family:'Source Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}

p, ul, li {
  font-family: 'Source Sans', sans-serif;
}